<div class="container-fluid d-flex flex-column body-container">

  <div class="container-fluid banner-container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-sm-12 d-flex flex-column align-items-center banner-title">
        <h1 class="title">Hello stranger</h1>
        <h3 class="subtitled">This i'll be a car app for sure</h3>
      </div>
    </div>
  </div>


  <div class="container cars-content">
    <div class="row d-flex flex-wrap flex-row" *ngIf="cars | async">
      <!-- <ng-container *ngFor="let car of cars let i = index">
        <app-car-card [car]="car" class="col-lg-4 col-md-6 col-sm-12"></app-car-card>
      </ng-container> -->
    </div>
  </div>
</div>
