// Import all variable from src folder (This is folder is actually deep in the hell omfg)
@import '../../../sass/variables'

.container-fluid
    background-color: $background


.banner-title
    padding: 0px 1rem
    margin-top: 1rem
    .title
        font-size: 4rem
        font-weight: bold
    .subtitled
        font-weight: 100
        font-size: 1.5rem


.cars-content
    margin-top: 3rem

