/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'
@import './sass/variables'

body
  font-family: 'Roboto', sans-serif
  background-color: $background
  margin: 0px
  padding: 0px

h1, h2, h3, h4
  font-family: 'Manjari', sans-serif
  color: $title
  text-transform: capitalize
