/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css'

$primary-blue : #3D99FF
$secundary-blue: #54A5FF
$background: #E6E5E6
$text: #FFFFFF
$black-level : 20%
$title: hsl(210°, 2%, $black-level)

body
  font-family: 'Roboto', sans-serif

h1, h2, h3, h4
  font-family: 'Manjari', sans-serif
  $black-level: 80%
  color: $title
  text-transform: capitalize
